---
title: Navigation
parent: /markdown/attributes.html
---
<nav>
  <strong>Breadcrumb</strong>
  <ul>
  {% for page in search.parents(url) %}
  <li>
    <a href="{{ page.data.url }}">
      {{ page.data.title }}
    </a>
  </li>
  {% endfor %}
  </ul>
</nav>

<nav>
  <strong>Menu</strong>

  <ul>
  {% for page in search.children(url, "file") %}
  <li>
    <a href="{{ page.data.url }}">
      {{ page.data.title }}
    </a>
  </li>
  {% endfor %}
  </ul>
</nav>