---
layout: null
apiKey:
  bar: foo
  foo: bar
---
const apiKey = {{ apiKey | dump | safe }};

const urls = [
  "{{ '/bar' | url }}",
  "{{ 'foo' | url }}",
  "{{ './foo' | url }}",
  "{{ '../foo' | url }}",
  "{{ 'foo' | url(true) }}",
  "{{ 'https://example.com/bar/foo' | url(true) }}",
];