---
name: Timothy
title: Example of PUG using the markdown filter
layout: layouts/basic.pug
parent: /navigation/root.html
---
div
  :md
    # This is a title

    This is a paragraph

    - Option 1
    - Option 2
